.header{
  background: #1f1e2e !important
}
@media (min-width: 992px){
  .header-menu .menu-nav > .menu-item > .menu-link .menu-text {
    color: #ffffff !important;
  }
}
.wrapper {
  padding-top: 80px !important;
}
